absl-py
aiohttp
git+https://github.com/avisingh599/multiworld.git@19bf319422c0016260166bf64e194552bf2a9e68
asn1crypto
astor
atomicwrites
attrs
awscli
boto3
botocore
cachetools
cffi
chardet
Click
cloudpickle
colorama
cryptography
cycler
Cython
dask
decorator
docutils
deepdiff
#git+https://github.com/deepmind/dm_control.git@0260f3effcfe2b0fdb25d9652dc27ba34b52d226
flatbuffers
funcsigs
future
gast
gitdb2
GitPython
glfw
google-api-python-client
google-auth
google-auth-httplib2
google-compute-engine
grpcio
gtimer
gym
h5py
httplib2
idna
imageio
ipython
jmespath
Keras-Applications
Keras-Preprocessing
kiwisolver
lockfile
Markdown
matplotlib
more-itertools
networkx
numpy
opencv-python
pandas
Pillow
plotly
pluggy
protobuf
py
pyasn1
pyasn1-modules
pycosat
pycparser
pygame
pyglet
PyOpenGL-accelerate
pyOpenSSL
pyparsing
PySocks
pytest
python-dateutil
pytz
PyWavelets
#PyYAML
PyYAML
psutil
ray[rllib,debug]
redis
requests
rsa
#ruamel-yaml
s3transfer
scikit-image
scikit-learn
scipy
git+https://github.com/hartikainen/serializable.git@76516385a3a716ed4a2a9ad877e2d5cbcf18d4e6
setproctitle
six
smmap2
tensorboard==1.15.0
tensorflow-gpu==1.15.0
tensorflow-estimator==1.15.1
tensorflow-probability==0.7.0
termcolor
toolz
uritemplate
#urllib3
urllib3
Werkzeug

